@model salonMVC.Models.TreatmentType
@{
    ViewBag.TreatmentName = "Browse";
}

<h2>Browsing TreatmentType: @Model.Name</h2>
<ul>
    @foreach (var treatment in Model.Treatments)
    {
        <li>
            @treatment.TreatmentName
        </li>
    }
</ul>
